@import "tailwindcss";

:root {
  --foreground: #1a1a1a;
  --background: #fffff5;
  --gray: #333333;
  --primary: #ff791b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1a1a;
    --foreground: #fffff5;
    --primary: #ff791b;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
